@import url('https://api.fonts.coollab.io/css2?family=Manrope:wght@300;400;700&family=Merriweather:wght@400;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

img,
svg {
    max-width: 100%;
}

button {
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
}

:root {
    --clr-fg: hsl(240, 20%, 1%);
    --clr-bg: hsl(0, 0%, 99%);
    --clr-primary: hsl(241, 46%, 21%);
    --clr-secondary: hsl(247, 53%, 97%);
    --clr-accent: hsl(240, 16%, 46%);

    --ff: 'Manrope', sans-serif;
    --ff-header: 'Merriweather', serif;
}

body {
    height: 100vh;
    font-family: var(--ff);
    font-size: 14px;
    color: var(--clr-fg);

    display: grid;
    place-items: center;
}

.card {
    width: 750px;
    background-color: var(--clr-bg);
    border-radius: 1.4em;
    padding: 4em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

.card::before {
    content: "";
    width: 90%;
    height: 115%;
    background-color: var(--clr-primary);
    border-radius: 1.4em;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: -1;
}

.top {
    max-width: 430px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.top .title {
    font-family: var(--ff-header);
    font-size: 1.5em;
}

.links .link {
    text-decoration: none;
    color: var(--clr-fg);
    padding: .5em .8em;
    border-radius: 100vmax;
    margin: .2em;
    background-color: var(--clr-secondary);
    outline: 2px solid transparent;
    transition: outline 200ms ease;
    user-select: none;
}

.link:hover {
    outline: 2px solid var(--clr-primary);
    cursor: pointer;
}

.bottom {
    width: 100%;

    display: grid;
    grid-template-columns: auto 1fr auto;
}

.slide {
    padding: .5em;
    font-size: 2em;
    pointer-events: all;
}

.slide>i {
    pointer-events: none;
}

.slide:hover {
    cursor: pointer;
}

.slider {
    width: 100%;
    flex: 1;
    padding: 2em;
    position: relative;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;

    display: flex;
    gap: 2em;
}

.creators {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.creator {
    min-width: 100px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: .5em;
}

.name {
    font-family: var(--ff-header);
}

.job {
    font-size: .8em;
}

.icon img {
    height: 50px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100vmax;
    position: relative;
}

.action-button {
    background-color: var(--clr-primary);
    color: var(--clr-bg);
    padding: .5em .8em;
    border-radius: 100vmax;
    transition: all 200ms ease-out;
}

.action-button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: var(--clr-primary) 0px 10px 20px -8px;
}

.action-button:active {
    transform: translateY(3px);
}